#include <windows.h>
#include "resource.h"

#pragma code_page(65001)

IDI_APPICON ICON "icon.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "退出(&X)",                IDM_FILE_EXIT
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "关于(&A)",                IDM_HELP_ABOUT
    END
END
